<section class="block" [ngClass]="{'light': content.fields.background}">
  <div class="container">
    <header>
      <h3>Setup</h3>
    </header>
    <section class="tabbed-content horizontal">
      <nav class="nav nav-pills" id="specs-tab" role="tablist">
        <a href="#tab-hardware" class="nav-link active" id="pill-hardware" data-toggle="pill" role="tab"
          aria-controls="tab-hardware" aria-selected="true">Hardware</a>
        <a href="#tab-software" class="nav-link" id="pill-software" data-toggle="pill" role="tab"
          aria-controls="tab-software">Software</a>
      </nav>
      <div class="tab-content" id="specs-content">
        <article class="tab-pane fade show active" id="tab-hardware" role="tabpanel" aria-labelledby="pill-hardware">
          <div class="col col-6">
            <h2><i class="fas fa-desktop"></i>PC Specs</h2>
            <table>
              <tbody>
                <tr>
                  <td>Case</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
                <tr>
                  <td>Motherboard</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
                <tr>
                  <td>CPU</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
                <tr>
                  <td>Memory</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
                <tr>
                  <td>Graphics Card</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
                <tr>
                  <td>CPU cooler</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
                <tr>
                  <td>Power Supply</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
                <tr>
                  <td>SSD</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
                <tr>
                  <td>Harddrive</td>
                  <td>CM Storm Trooper Gaming Big Tower</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col col-6">
            <h2><i class="fas fa-keyboard"></i>Peripherals</h2>
            <table>
              <tbody>
                <tr>
                  <td>Display #1</td>
                  <td>BenQ 24" 3D LED XL2420Z</td>
                </tr>
                <tr>
                  <td>Display #2</td>
                  <td>BenQ 24" 3D LED XL2411Z</td>
                </tr>
                <tr>
                  <td>Keyboard</td>
                  <td>Logitech G510s</td>
                </tr>
                <tr>
                  <td>Mouse</td>
                  <td>Logitech G602 Wireless</td>
                </tr>
                <tr>
                  <td>Headset</td>
                  <td>Logitech G933 Artimes Spectrum</td>
                </tr>
                <tr>
                  <td>Webcam</td>
                  <td>Logitefch C920 HD Pro</td>
                </tr>
                <tr>
                  <td>Microphone</td>
                  <td>Blue Microphones&copy; Yeti USB</td>
                </tr>
                <tr>
                  <td>Boomarm</td>
                  <td>RODE PSA1</td>
                </tr>
                <tr>
                  <td>Capturecard</td>
                  <td>AverMedia Live Gamer HD</td>
                </tr>
              </tbody>
            </table>
          </div>
        </article>
        <article class="tab-pane fade" id="tab-software" role="tabpanel" aria-labelledby="pill-software">
          <header>
            <h2><i class="fas fa-keyboard"></i>Software</h2>
          </header>
          <p>something about software</p>
        </article>
      </div>
    </section>
  </div>
</section>
