#breadcrumbs {
  background: url("#{$imagesDir}/highlight_bg.jpg") center center no-repeat;
  background-size: cover;
  height: 50px;

  .container,
  .row {
    height: 100%;
  }

  .row {
    justify-content: space-between;
    align-items: center;

    .breadcrumb { 
        background-color: unset;
        margin: 0;
        
        .breadcrumb-item, .breadcrumb-item a { 
            color: theme-color("text");

            &.active { 
                color: theme-color("text");
            }

            &:not(.active):hover, &:not(.active):active, &:not(.active):focus { 
                color: color("white");
            }
        }
    }
  }
}
