#footer {
	height: 100px;
	align-items: center;
	display: flex;

	.container {
		display: flex;
		justify-content: space-between;
	}

	.socials {
		display: flex;
		justify-content: space-between;
	}
}
