#welcome {
  height: 800px;
  padding: 100px 0;
  background: url("#{$imagesDir}/highlight_bg.jpg") center center no-repeat;
  background-size: cover;

  .container,
  .row,
  .col {
    height: 100%;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: color("white");
    font-size: 0.9375rem;
    line-height: 2;

    .btn { 
        margin-right: 12px;
        padding: 0 20px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        font-family: $headings-font-family;
        font-size: $h2-font-size;
    }
  }

  .image {
    img {
      height: 600px;
    }
  }
}
