section.highlight {
	background: url("#{$imagesDir}/highlight_bg.jpg") center center no-repeat;
	background-size: cover;

	.container,
	.col {
		height: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

	header {
		text-align: left;
	}

	.text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		color: color("white");
		font-size: 0.9375rem;
		line-height: 2;

		.btn {
			margin-right: 12px;
			padding: 0 20px;
			height: 50px;
			display: inline-flex;
			align-items: center;
			font-family: $headings-font-family;
			font-size: $h2-font-size;
		}
	}

	.image {
		img {
			height: 600px;
		}
	}
}
