.navbar {
	height: 100px;

	.navbar-collapse {
		flex-grow: 0;

		.nav-item {
			a {
				text-transform: uppercase;
				font-size: $font-size-sm;

				&.active,
				&:hover,
				&:active,
				&:focus {
					color: color("white");
				}
			}
		}
	}
}
