.quote {
	background: theme-color("primary");
	font-family: $quote-font-family;
	font-size: $quote-font-size;
	font-weight: $quote-font-weight;
	line-height: $quote-line-height;
	font-style: $quote-font-style;
	color: color("white");

	.container {
		height: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;

		&::before,
		&::after {
			color: theme-color("secondary");
			font-size: 5.625rem;
		}

		&::before {
			content: "\201C";
			margin-top: -20px;
		}
		&::after {
			content: "\201D";
			margin-top: 80px;
		}
	}
}
