<ng-template>
  <!-- SINGLE COLUMN + IMG LEFT -->
    <section id="aboutMe" class="content">
        <div class="container">
            <div class="row">
                <aside class="col-4">
                    <img src="assets/images/profile-picture.jpg" alt="Taintedtali">
                </aside>
                <article class="col-8">
                    <h2>About Me</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                        consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                        arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                        pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
                    <h2>About the pugs</h2>
                    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
                        amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                        id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
                        venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis
                        leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                        eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce
                        vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id,
                        metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In
                        ac dui quis mi consectetuer lacinia.</p>
                </article>
            </div>
        </div>
    </section>
</ng-template>
<ng-template>
  <!-- THREE COLUMN -->
    <section id="contentCards" class="cards">
        <div class="container">
            <div class="card-deck">
                <article class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-user"></i>About me</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget
                            dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis...</p>
                    </div>
                    <a href="#" class="btn btn-primary card-link" role="button">Read more</a>
                </article>
                <article class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-terminal"></i>Commands</h2>
                        <div class="list-group list-group-flush">
                            <a src="#" tabindex="0" role="button" class="list-group-item list-group-item-action"
                                data-trigger="focus" data-container="body" data-toggle="popover"
                                data-content="boobies!">!boobies<span class="badge">View</span></a>
                            <a src="#" tabindex="0" role="button" class="list-group-item list-group-item-action"
                                data-trigger="focus" data-container="body" data-toggle="popover"
                                data-content="LETS DANCE!">!dance<span class="badge">View</span></a>
                            <a src="#" tabindex="0" role="button" class="list-group-item list-group-item-action"
                                data-trigger="focus" data-container="body" data-toggle="popover"
                                data-content="Come hang out at my discord!!">!discord<span
                                    class="badge">View</span></a>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary card-link" role="button">Read more</a>
                </article>
                <article class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-tshirt"></i>Merch store</h2>
                        <p class="card-text">Lorem ipsum</p>
                    </div>
                    <a href="#" class="btn btn-primary card-link" role="button">Visit my merch store</a>
                </article>
            </div>
        </div>
    </section>
</ng-template>