<ng-container [ngTemplateOutlet]="template"></ng-container>

<ng-template #1>
  <!-- SINGLE COLUMN CENTERED-->
  <section class="block content singleColumn" [ngClass]="{'light': content.fields.background}">
    <div class="container">
      <h3>{{content.fields.title}}</h3>
      <div [innerHTML]="content.fields.body | mdToHtml"></div>
    </div>
  </section>
</ng-template>

<ng-template #2>
  <!-- SINGLE COLUMN + IMG LEFT -->
  <section class="block content" [ngClass]="{'light': content.fields.background}">
    <div class="container">
      <aside class="col-4">
        <img src="{{content.fields.image.fields.file.url}}" alt="{{content.fields.image.fields.title}}">
      </aside>
      <article class="col-8">
        <h3>{{content.fields.title}}</h3>
        <div [innerHTML]="content.fields.body | mdToHtml"></div>
      </article>
    </div>
  </section>
</ng-template>


<ng-template #3>
  <!-- SINGLE COLUMN + IMG RIGHT -->
  <section class="block content" [ngClass]="{'light': content.fields.background}">
    <div class="container">
      <article class="col-8">
        <h3>{{content.fields.title}}</h3>
        <div [innerHTML]="content.fields.body | mdToHtml"></div>
      </article>
      <aside class="col-4">
        <img src="{{content.fields.image.fields.file.url}}" alt="{{content.fields.image.fields.title}}">
      </aside>
    </div>
  </section>
</ng-template>

<ng-template #4>
  <!-- THREE COLUMN -->
  <section class="block cards">
    <div class="container">
      <div class="card-deck">
        <article class="card">
          <div class="card-body">
            <h2 class="card-title"><i class="fas fa-user"></i>About me</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget
              dolor.
              Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus mus. Donec quam felis...</p>
          </div>
          <a href="#" class="btn btn-primary card-link" role="button">Read more</a>
        </article>
        <article class="card">
          <div class="card-body">
            <h2 class="card-title"><i class="fas fa-terminal"></i>Commands</h2>
            <div class="list-group list-group-flush">
              <a src="#" tabindex="0" role="button" class="list-group-item list-group-item-action" data-trigger="focus"
                data-container="body" data-toggle="popover" data-content="boobies!">!boobies<span
                  class="badge">View</span></a>
              <a src="#" tabindex="0" role="button" class="list-group-item list-group-item-action" data-trigger="focus"
                data-container="body" data-toggle="popover" data-content="LETS DANCE!">!dance<span
                  class="badge">View</span></a>
              <a src="#" tabindex="0" role="button" class="list-group-item list-group-item-action" data-trigger="focus"
                data-container="body" data-toggle="popover" data-content="Come hang out at my discord!!">!discord<span
                  class="badge">View</span></a>
            </div>
          </div>
          <a href="#" class="btn btn-primary card-link" role="button">Read more</a>
        </article>
        <article class="card">
          <div class="card-body">
            <h2 class="card-title"><i class="fas fa-tshirt"></i>Merch store</h2>
            <p class="card-text">Lorem ipsum</p>
          </div>
          <a href="#" class="btn btn-primary card-link" role="button">Visit my merch store</a>
        </article>
      </div>
    </div>
  </section>
</ng-template>
