<section class="block" [ngClass]="{'light': content.fields.background}">
  <div class="container">
    <header>
      <h3>Events</h3>
    </header>
    <div class="events">
      <article>
        <figure class="icon">
          <img src="assets/images/event-icon.jpg" alt="Event title!">
        </figure>
        <div class="body">
          <header>
            <h2>We did a thing!</h2>
            <small class="type">Type of event: Stream</small>
          </header>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <a href="#" class="btn btn-primary" role="button"><i class="fas fa-angle-right"></i></a>
      </article>
      <article>
        <figure class="icon">
          <img src="assets/images/event-icon.jpg" alt="Event title!">
        </figure>
        <div class="body">
          <header>
            <h2>We did a thing!</h2>
            <small class="type">Type of event: Stream</small>
          </header>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <a href="#" class="btn btn-primary" role="button"><i class="fas fa-angle-right"></i></a>
      </article>
      <article>
        <figure class="icon">
          <img src="assets/images/event-icon.jpg" alt="Event title!">
        </figure>
        <div class="body">
          <header>
            <h2>We did a thing!</h2>
            <small class="type">Type of event: Stream</small>
          </header>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <a href="#" class="btn btn-primary" role="button"><i class="fas fa-angle-right"></i></a>
      </article>
    </div>
    <nav aria-label="Events navigation">
      <ul class="pagination">
        <li class="page-item"><a href="#" class="page-link">Previous</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item active"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</section>
