<section class="twitterfeed cards cards-header block" [ngClass]="{ light: content.fields.background }">
  <div class="container">
    <header>
      <h3>Twitter feed</h3>
    </header>
    <div class="card-deck">
      <article class="card">
        <div class="card-body">
          <p class="card-text">Thanks to leftover currency in my Xbox Wallet, I just picked up Red Dead Redemption 2:
            Ultimate Edition for just €17.95! I am now ready for the weekend.</p>
          <nav>
            <span class="info"><a href="#" target="_blank">@taintedtali</a> - 5 days</span>
            <div class="btn-group" role="group">
              <a href="#" role="button" class="btn btn-heart"><i class="fas fa-heart"></i>8</a>
              <a href="#" role="button" class="btn btn-retweet"><i class="fas fa-retweet"></i>1</a>
              <a href="#" role="button" class="btn btn-comment"><i class="fas fa-comment"></i>2</a>
            </div>
          </nav>
        </div>
        <a href="#" class="btn btn-primary card-link" role="button">Follow me</a>
      </article>
      <article class="card">
        <div class="card-body">
          <p class="card-text">Thanks to leftover currency in my Xbox Wallet, I just picked up Red Dead Redemption 2:
            Ultimate Edition for just €17.95! I am now ready for the weekend.</p>
          <nav>
            <span class="info"><a href="#" target="_blank">@taintedtali</a> - 5 days</span>
            <div class="btn-group" role="group">
              <a href="#" role="button" class="btn btn-heart"><i class="fas fa-heart"></i>8</a>
              <a href="#" role="button" class="btn btn-retweet"><i class="fas fa-retweet"></i>1</a>
              <a href="#" role="button" class="btn btn-comment"><i class="fas fa-comment"></i>2</a>
            </div>
          </nav>
        </div>
        <a href="#" class="btn btn-primary card-link" role="button">Follow me</a>
      </article>
      <article class="card">
        <div class="card-body">
          <p class="card-text">Thanks to leftover currency in my Xbox Wallet, I just picked up Red Dead Redemption 2:
            Ultimate Edition for just €17.95! I am now ready for the weekend.</p>
          <nav>
            <span class="info"><a href="#" target="_blank">@taintedtali</a> - 5 days</span>
            <div class="btn-group" role="group">
              <a href="#" role="button" class="btn btn-heart"><i class="fas fa-heart"></i>8</a>
              <a href="#" role="button" class="btn btn-retweet"><i class="fas fa-retweet"></i>1</a>
              <a href="#" role="button" class="btn btn-comment"><i class="fas fa-comment"></i>2</a>
            </div>
          </nav>
        </div>
        <a href="#" class="btn btn-primary card-link" role="button">Follow me</a>
      </article>
    </div>
  </div>
</section>
